/* INDEX */
.bloco{
    background-color: #ccc;
    height: 50vh;
}

.bloco img{
    min-width: 800px;
}

.w-200{
    width: 200px;
}

.w-500{
    width: 500px;
}

.social i:hover{
    color: #0d6efd ;
    transform: scale(1.2);
}

/* EFEITO MENU ATIVO */

.active{
    border-bottom: 1px solid #fff;
}

.altura{
    height: 300px;
    overflow-y: scroll;
}

.fonte{
    font-family: 'borel', cursive;
}
.re{
    resize: none;
}